<div id="grid-container"><div class="divs open" name="1"><p>wyprowadzić psa na balkon</p>
    <form method="POST" action="/to/" >
        <button type="submit">Close</button>
        <button type="submit">Delete</button>
    </form></div>,<div class="divs " name="2"><p>Oddać butelki po winie</p>
    <form method="POST" action="/to/" >
        <button type="submit">Open</button>
        <button type="submit">Delete</button>
    </form></div>,<div class="divs " name="3"><p>Zebrać ogórki</p>
    <form method="POST" action="/to/" >
        <button type="submit">Open</button>
        <button type="submit">Delete</button>
    </form></div>,<div class="divs open" name="4"><p>Zbieram na ziemniaki, drobne, ale zawsze coś</p>
    <form method="POST" action="/to/" >
        <button type="submit">Close</button>
        <button type="submit">Delete</button>
    </form></div></div>