<div id="grid-container"><div class="divs open" name="1"><p>This is juast a dummy text</p>
    <form method="POST" action="/to/1" >
        <button type="submit" name="1" value="close">Close</button>
        <button type="submit" name="1" value="delete">Delete</button>
    </form></div><div class="divs open" name="2"><p>or a tutorial if you like those.</p>
    <form method="POST" action="/to/2" >
        <button type="submit" name="2" value="close">Close</button>
        <button type="submit" name="2" value="delete">Delete</button>
    </form></div><div class="divs open" name="3"><p>Play with it for a while.</p>
    <form method="POST" action="/to/3" >
        <button type="submit" name="3" value="close">Close</button>
        <button type="submit" name="3" value="delete">Delete</button>
    </form></div><div class="divs open" name="4"><p>Open, close tasks, and delete them with a button</p>
    <form method="POST" action="/to/4" >
        <button type="submit" name="4" value="close">Close</button>
        <button type="submit" name="4" value="delete">Delete</button>
    </form></div><div class="divs open" name="5"><p>When yout get tired, just clear all</p>
    <form method="POST" action="/to/5" >
        <button type="submit" name="5" value="close">Close</button>
        <button type="submit" name="5" value="delete">Delete</button>
    </form></div><div class="divs open" name="6"><p>With a button above tasks</p>
    <form method="POST" action="/to/6" >
        <button type="submit" name="6" value="close">Close</button>
        <button type="submit" name="6" value="delete">Delete</button>
    </form></div></div>