<div id="grid-container">
    <div class="divs open" name="1">
        <p>Check storage</p>
        <form method="POST" action="/to/1">
            <button type="submit" name="1" value="close">Close</button>
            <button type="submit" name="1" value="delete">Delete</button>
        </form>
    </div>
 <div class="divs" name="2">
     <p>Jakaś treść</p>
     <form method="POST" action="/to/2">
         <button type="submit" name="2" value="close">Close</button>
         <button type="submit" name="2" value="delete">Delete</button>
     </form></div>

</div>